<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe,
        dolorum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis
        fugit assumenda iure obcaecati molestiae laudantium sequi velit incidunt
        minima tempore!
      </p>
    </div>
    <a href="" class="button button--secondary button--stretched"
      >Get Started</a
    >
  </div>
</div>
